.CareerContainer {
  max-width: 944px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.CareerContainer .container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: 48px;
}

.CareerContainer .container .career_header {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.CareerContainer .container .career_header h3 {
  font-size: 20px;
  font-weight: 700;
}

.CareerContainer .container .career_header ul {
  display: flex;
}

.CareerContainer .container .career_header li {
  padding: 0 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--label-alternative);
  border-right: 1px solid var(--line-normal);
}

.CareerContainer .container .career_header li:last-child {
  border: none;
}

.CareerContainer .container .career_nav {
  display: flex;
  justify-content: center;
}

.CareerContainer .container .career_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 28px;
  align-items: start;
}

@media (max-width: 944px) {
  .CareerContainer .container .career_list {
    grid-template-columns: 1fr;
  }
}
