.Category ul {
  display: inline-flex;
  gap: 8px;
}

.Category ul li {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--label-assistive);
  border-radius: 40px;
  border: 1px solid var(--line-normal);
  cursor: pointer;
  line-height: 1;
}

.Category ul li.active {
  border: none;
  background-color: var(--primary-normal);
  color: var(--label-white);
}

@media (max-width: 944px) {
  .Category ul {
    flex-wrap: wrap;
  }
}
