.Career {
  padding: 160px 0;
}

.Career .inner .page_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.Career .inner .company_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

@media (max-width: 944px) {
  .Career {
    padding: 80px 0;
  }

  .Career .inner .company_list {
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .CareerContainer .container .career_header li {
    text-align: center;
    padding-right: 6px;
  }
  .CareerContainer .container .career_header li:nth-child(1) {
    padding: 0 6px 0 0;
  }
  .CareerContainer .container .career_header li:nth-child(2) {
    padding: 0 6px;
  }
  .CareerContainer .container .career_header li:nth-child(3) {
    padding: 0 0 0 6px;
  }
}
