.Education {
  width: 100%;
  padding: 160px 0;
}

.Education .inner .container {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

@media (max-width: 944px) {
  .Education {
    padding: 80px 0;
  }

  .Education .inner .container {
    gap: 48px;
  }
}
