.Hero {
  height: calc(100vh - 125px);
  display: flex;
  align-items: center;
  background-color: var(--background-normal);
}

.Hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.Hero .container figure {
  width: 100px;
}

.Hero .container img {
  width: 100%;
}

.Hero .inner .contents {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.Hero .inner .contents .title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.Hero .inner .contents .title span {
  color: var(--primary-strong);
}

.Hero .inner .contents .description {
  font-size: 16px;
  font-weight: 400;
  color: var(--label-neutral);
  line-height: 1.6;
  text-align: center;
}

.Hero .inner .contents a {
  padding: 12px 24px;
  background-color: var(--fill-normal);
  border-radius: 8px;
  font-size: 14px;
  color: var(--label-alternative);
  display: flex;
  gap: 8px;
}

.Hero .inner .contents a img {
  width: 15px;
}

/* mobile */
@media (max-width: 944px) {
  .Hero {
    height: calc(100vh - 80px);
    padding: 80px 0;
  }

  .Hero .container figure {
    width: 90px;
  }

  .Hero .inner .contents .title {
    font-size: 32px;
  }
}
