.AbilityCard {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.AbilityCard figure {
  border-radius: 16px;
  overflow: hidden;
}

.AbilityCard .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.AbilityCard .container h3 {
  font-size: 22px;
  font-weight: 500;
}

.AbilityCard .container p {
  font-size: 15px;
  font-weight: 400;
  color: var(--label-alternative);
}
