.Blog {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Blog .inner .blog_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.Blog .inner > a {
  padding: 12px 24px;
  background-color: var(--fill-normal);
  border-radius: 8px;
  font-size: 14px;
  color: var(--label-alternative);
  display: flex;
  gap: 8px;
}

.Blog .inner > a img {
  width: 18px;
}
