:root {
  /* sementhic color */

  /* primary */
  --primary-normal: #0790ff;
  --primary-strong: #477eff;
  --primary-disable: #eef4ff;

  /* background */
  --background-normal: #ffffff;
  --background-alternative: #f7f7f8;

  /* fill */
  --fill-normal: rgba(112, 115, 124, 0.08);
  --fill-strong: rgba(112, 115, 124, 0.16);
  --fill-alternative: rgba(112, 115, 124, 0.05);

  /* label */
  --label-normal: #171719;
  --label-strong: #000000;
  --label-neutral: #2e2f33;
  --label-alternative: #848588;
  --label-assistive: rgba(55, 56, 60, 0.28);
  --label-disable: rgba(55, 56, 60, 0.16);
  --label-white: #ffffff;

  /* line */
  --line-normal: rgba(112, 115, 124, 0.22);
  --line-neutral: rgba(112, 115, 124, 0.16);
  --line-alternative: rgba(112, 115, 124, 0.08);

  /* interaction */
  --interation-inactive: #989ba2;
  --interation-disable: #f4f4f5;

  /* shadow */
  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  /* font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  } */
}
