.AbilityCard {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.AbilityCard figure {
  border-radius: 16px;
  overflow: hidden;
}

.AbilityCard .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.AbilityCard .container h3 {
  font-size: 22px;
  font-weight: 500;
}

.AbilityCard .container p {
  font-size: 15px;
  font-weight: 400;
  color: var(--label-alternative);
}

@media (max-width: 944px) {
  .AbilityCard {
    max-width: none;
    width: 100%;
    gap: 26px;
  }

  .AbilityCard figure {
    width: 100%;
    aspect-ratio: 37 / 27;
  }

  .AbilityCard figure img {
    width: 100%;
  }

  .AbilityCard .container h3 {
    font-size: 18px;
    text-align: center;
  }

  .AbilityCard .container p {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }
}
