.BookCard {
  max-width: 296px;
}

.BookCard a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.BookCard figure {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.BookCard .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  justify-content: space-between;
}

.BookCard .container .contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.BookCard .container .contents .label {
  font-size: 16px;
  font-weight: 500;
  color: var(--label-alternative);
}

.BookCard .container .contents .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

.BookCard .container .contents .date {
  font-size: 14px;
  font-weight: 500;
  color: var(--label-alternative);
}

@media (max-width: 944px) {
  .BookCard {
    max-width: none;
  }
}
