.CareerCard {
  height: 249px;
  border: 1px solid var(--line-normal);
  border-radius: 16px;
  overflow: hidden;
}

.CareerCard a {
  height: 100%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CareerCard .top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.CareerCard .title {
  font-size: 18px;
  font-weight: 500;
  color: var(--label-normal);
}

.CareerCard .date {
  font-size: 14px;
  color: var(--label-alternative);
}

.CareerCard .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.CareerCard .description span {
  font-size: 14px;
  color: var(--label-alternative);
}
